body{
    margin: 0;
    padding: 0;
    background: url(SHL-feature.jpg);
    background-size: c;
    background-position: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.loginbox{
    width: 320px;
    height: 400;
    background: rgb(0, 0, 0);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}

.sign{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -8%;
    right: calc(60% - 60px);
     
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 16px;



}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #25fb65;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;


}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #07ff45;
    color: #000;

}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;

}

.loginbox a:hover
{
    color: #07ff45;

}